NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_NETWORK_LABEL="Base Sepolia"
NEXT_PUBLIC_CONSENT_REGISTRY=0x...
NEXT_PUBLIC_INFERENCE_REGISTRY=0x...
NEXT_PUBLIC_SETTLEMENT=0x...
NEXT_PUBLIC_MOCK_USDC=0x...
NEXT_PUBLIC_AI_SERVICE_URL=http://localhost:8000
NEXT_PUBLIC_WALLETCONNECT_ID=eef70faa15aae82bd2302fb5d050f31b
NEXT_PUBLIC_DEMO_RECEIPT_ID=0x...
